body {
  overflow-x: clip;
}

button {
  cursor: pointer;
}

.trend-tab:hover {
  text-decoration: underline;
}

.regional-wrapper {
  margin-left: -3%;
}

@media screen and (max-width: 768px) {
  .regional-wrapper {
    margin-left: 0;
  }
}
